@import "tailwindcss";

@font-face {
  font-family: ibm;
  src: url(../assets/fonts/ibm_vga_8x16.ttf);
}

body {
  @apply flex flex-col bg-black text-green-500 text-[1rem] min-h-dvh overflow-x-hidden;
  font-family: ibm;
  background-image:
    linear-gradient(rgba(34, 197, 94, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(34, 197, 94, 0.05) 1px, transparent 1px);
  background-size: 20px 20px;
}

body::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    to bottom,
    rgba(18, 16, 16, 0) 50%,
    rgba(0, 0, 0, 0.25) 50%
  );
  background-size: 100% 4px;
  z-index: 9999;
  pointer-events: none;
}

main {
  @apply flex px-4 md:px-30 py-20 relative grow;
}

.generic_container {
  @apply border border-green-500 md:p-6 p-4;
}

.hover_container {
  @apply border border-green-500 px-6 py-4 transition hover:bg-green-900/20 hover:border-green-400 focus:bg-green-900/20 focus:border-green-400 cursor-pointer;
}

.generic_button {
  @apply p-3 border border-green-500 text-green-500 hover:bg-green-500 hover:text-black focus:bg-green-500 focus:text-black;
}

@keyframes pop-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-pop-in {
  opacity: 0;
  animation: pop-in 0.2s steps(1) forwards;
}

.glitch { 
  position: relative; 
  isolation: isolate; 
}