@import "tailwindcss";

@font-face {
    font-family: ibm;
    src: url(../assets/fonts/ibm_vga_8x16.ttf);
}

body {
    @apply flex flex-col bg-black text-green-500 text-[1rem] min-h-screen;
    font-family: ibm;
    background-image:
        linear-gradient(rgba(34, 197, 94, 0.05) 1px, transparent 1px),
        linear-gradient(90deg, rgba(34, 197, 94, 0.05) 1px, transparent 1px);
    background-size: 20px 20px;
}

body::before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
        to bottom,
        rgba(18, 16, 16, 0) 50%,
        rgba(0, 0, 0, 0.25) 50%
    );
    background-size: 100% 4px;
    z-index: 1;
    pointer-events: none;
}

main {
    @apply flex px-4 md:px-30 py-20 relative z-10 grow;
}

.generic_container{
    @apply border border-green-500 px-6 py-4;
}

.hover_container{
    @apply border border-green-500 px-6 py-4 transition hover:bg-green-900/20 hover:border-green-400 cursor-pointer;
}

.generic_button{
    @apply p-3 border border-green-500 text-green-500 hover:bg-green-500 hover:text-black;
}

@keyframes pop-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.animate-pop-in {
    opacity: 0;
    animation: pop-in 0.2s steps(1) forwards;
}

.glitch {
    position: relative;
}
.glitch::before,
.glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    white-space: inherit;
}
.glitch::before {
    left: 2px;
    text-shadow: -1px 0 red;
    clip: rect(44px, 450px, 56px, 0);
    animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch::after {
    left: -2px;
    text-shadow: -1px 0 blue;
    clip: rect(44px, 450px, 56px, 0);
    animation: glitch-anim2 5s infinite linear alternate-reverse;
}
@keyframes glitch-anim {
    0% { clip: rect(42px, 9999px, 44px, 0); }
    5% { clip: rect(12px, 9999px, 59px, 0); }
    10% { clip: rect(48px, 9999px, 29px, 0); }
    15.0% { clip: rect(42px, 9999px, 73px, 0); }
    20% { clip: rect(63px, 9999px, 27px, 0); }
    25% { clip: rect(34px, 9999px, 55px, 0); }
    30.0% { clip: rect(86px, 9999px, 73px, 0); }
    35% { clip: rect(20px, 9999px, 20px, 0); }
    40% { clip: rect(26px, 9999px, 60px, 0); }
    45% { clip: rect(25px, 9999px, 66px, 0); }
    50% { clip: rect(57px, 9999px, 98px, 0); }
    55.0% { clip: rect(5px, 9999px, 46px, 0); }
    60.0% { clip: rect(82px, 9999px, 31px, 0); }
    65% { clip: rect(54px, 9999px, 27px, 0); }
    70% { clip: rect(11px, 9999px, 15px, 0); }
    75% { clip: rect(13px, 9999px, 69px, 0); }
    80% { clip: rect(41px, 9999px, 86px, 0); }
    85.0% { clip: rect(76px, 9999px, 3px, 0); }
    90% { clip: rect(81px, 9999px, 32px, 0); }
    95% { clip: rect(16px, 9999px, 37px, 0); }
    100% { clip: rect(72px, 9999px, 4px, 0); }
}
@keyframes glitch-anim2 {
    0% { clip: rect(65px, 9999px, 100px, 0); }
    5% { clip: rect(52px, 9999px, 74px, 0); }
    10% { clip: rect(79px, 9999px, 85px, 0); }
    15.0% { clip: rect(75px, 9999px, 5px, 0); }
    20% { clip: rect(67px, 9999px, 61px, 0); }
    25% { clip: rect(14px, 9999px, 79px, 0); }
    30.0% { clip: rect(1px, 9999px, 66px, 0); }
    35% { clip: rect(86px, 9999px, 30px, 0); }
    40% { clip: rect(23px, 9999px, 98px, 0); }
    45% { clip: rect(85px, 9999px, 72px, 0); }
    50% { clip: rect(71px, 9999px, 75px, 0); }
    55.0% { clip: rect(2px, 9999px, 48px, 0); }
    60.0% { clip: rect(30px, 9999px, 16px, 0); }
    65% { clip: rect(59px, 9999px, 50px, 0); }
    70% { clip: rect(99px, 9999px, 81px, 0); }
    75% { clip: rect(36px, 9999px, 71px, 0); }
    80% { clip: rect(71px, 9999px, 97px, 0); }
    85.0% { clip: rect(2px, 9999px, 22px, 0); }
    90% { clip: rect(44px, 9999px, 91px, 0); }
    95% { clip: rect(58px, 9999px, 5px, 0); }
    100% { clip: rect(91px, 9999px, 12px, 0); }
}