@import "tailwindcss";

@font-face {
	font-family: "ibm";
	src: url(/fonts/vile-r/ibm-vga-8x16.woff2) format("woff2");
}

@font-face {
	font-family: "Terminus";
	src: url(/fonts/terminus/Terminus.woff2) format("woff2");
}

@theme {
	--font-mono: "Terminus";
	--color-primary: #18fd9d;
	--color-primary-light: oklch(from var(--color-primary) calc(l + 0.08) c h);
	--color-primary-dark: oklch(from var(--color-primary) calc(l - 0.25) c h);
}

[data-theme="uranium"] {
	--color-primary: #18fd9d;
}

[data-theme="cobalt"] {
	--color-primary: #18fdff;
}

[data-theme="argon"] {
	--color-primary: #e0e0e0;
}

[data-theme="radium"] {
	--color-primary: #b0ff60;
}

/* [data-theme="pink"] {
	--color-primary: #f7b1c8;
} */

html {
	::-webkit-scrollbar {
		width: 3px;
	}
	::-webkit-scrollbar-track {
		@apply bg-black;
	}
	::-webkit-scrollbar-thumb {
		@apply bg-primary;
	}

	/* Mozilla ahhhhhh special */
	scrollbar-width: thin;
	scrollbar-color: var(--color-primary) black;
}

body {
	@apply text-primary flex min-h-dvh flex-col overflow-x-hidden bg-black font-['ibm'];
	background-image:
		linear-gradient(
			color-mix(in oklch, var(--color-primary) 5%, transparent) 1px,
			transparent 1px
		),
		linear-gradient(
			90deg,
			color-mix(in oklch, var(--color-primary) 5%, transparent) 1px,
			transparent 1px
		);
	background-size: 20px 20px;
}

body::before {
	@apply pointer-events-none fixed top-0 right-0 bottom-0 left-0 z-20 block;
	content: " ";
	background: linear-gradient(
		to bottom,
		rgba(18, 16, 16, 0) 50%,
		rgba(0, 0, 0, 0.25) 50%
	);
	background-size: 100% 4px;
}

main {
	@apply grow px-5 py-20 md:px-20 lg:px-30;
}

/* Effects */
.glitch {
	position: relative;
	isolation: isolate;
}
