<!-- ---
import Layout from '../layouts/Layout.astro';
import { db, articles } from 'astro:db';

if (Astro.request.method === 'POST') {
  const formData = await Astro.request.formData();
  const title = formData.get('title');
  const content = formData.get('content');

  if (typeof title === 'string' && typeof content === 'string') {
    await db.insert(articles).values({ title, content });
  }
}

const allArticles = await db.select().from(articles);
---

<Layout title="BOOT">
    <main class="p-10 space-y-8" >
        
        <form method="POST" class="flex flex-col gap-4 p-5 rounded border">
            <input 
                name="title" 
                placeholder="Title (e.g., Tailwind CSS)" 
                class="p-2 border" 
                required 
            />
            <textarea 
                name="content" 
                placeholder="Content..." 
                class="p-2 border" 
                required
            ></textarea>
            <button type="submit" class="p-2 text-white bg-blue-500 rounded">
                Post Article
            </button>
        </form>

        <div class="space-y-4">
            {allArticles.map((article) => (
                <div class="p-4 border shadow-sm">
                    <h2 class="text-xl font-bold">{article.title}</h2>
                    <p class="text-gray-600">{article.content}</p>
                </div>
            ))}
        </div>

    </main> 
</Layout> -->