---
interface Props {
    class?: string;
    hover?: boolean;
    onclick?: string;
}

let { class: additionalClasses = '', hover = false, onclick = '' } = Astro.props;
if (onclick !== '') {
    hover = true;
}
---
<div class={`border border-green-500 md:p-5 p-4 ${hover ? 'transition hover:bg-green-900/20 hover:border-green-400 focus:bg-green-900/20 focus:border-green-400 cursor-pointer' : ''} ${additionalClasses}`} onclick={onclick}>
    <slot />
</div>