name: Fetch languages data on REST-API

on:
  schedule:
    - cron: "30 2 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-languages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: data

      - name: Fetch Languages
        run: |
          echo "{}" > languages.json
          repo_names=$(jq -r '.[0:20] | .[].name' repositories.json)

          for repo in $repo_names; do
            data=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" -H "User-Agent: REST-API-Bot" "https://api.github.com/repos/jrwnnnn/$repo/languages")
            jq --arg r "$repo" --argjson d "$data" '.[$r] = $d' languages.json > temp.json && mv temp.json languages.json
          done

      - name: Commit
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add languages.json
          git diff --staged --quiet || (git commit -m "Update languages.json [skip ci]" && git push origin data)
